/* ✅ Loader jo pura page cover kare */
.loader-container {
    position: absolute; /* Fixed nahi, taake footer neeche hi rahe */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Pura page cover kare */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* background: linear-gradient(45deg, #b8860b, #d4af37) */
}



